<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <p>Admin Panel</p>
            <h6>Login</h6>

            {{#if err}}
				<p style="color: red;">{{err}}</p>
			{{/if}}

            <div class="sign-form">
                <form class="mb-0" action="/admin/login" method="POST" id="adminLoginForm">
                    <div class="form-group">
                        <input type="text" name="Username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" class="form-control" id="pwd" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </form>
               
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>

    //input field validation
    $(document).ready(function () {

        $('#adminLoginForm').validate({

            rules: {

                Username: {
                    required: true
                },
                Password:{
                    required:true
                }

            },
            messages: {

                Username: {
                    required: "Username required"    
                },
                Password:{
                    required:"Password required"
                }

            }
        })
    })

</script>

<style>
    .error {
        color: red !important;
        font-size:small !important;
       
    }
</style>