<div class="sidebar" data-color="purple" data-background-color="black" data-image="../admin-assets/img/sidebar-2.jpg">
  <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag-->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
      OTTOmotiv
    </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="/admin">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">person</i>
          <p></p>
          <p>User Management</p>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/admin/all-users"><span class="material-icons">people</span>
            <p style="margin-left: 1em;">All users</p>
          </a>
          <a class="dropdown-item" href="/admin/active-users">
            <span class="material-icons">settings_accessibility</span>
            <p style="margin-left: 1em;">Active users</p>
          </a>
          <a class="dropdown-item" href="/admin/blocked-users">
            <span class="material-icons">person_off</span>
            <p style="margin-left: 1em;">Blocked users</p>
          </a>

        </div>

      </li>



      <li class="nav-item ">
        <a class="nav-link" href="/admin/category">
          <i class="material-icons">category</i>
          <p>Category Management</p>
        </a>
      </li>


      <li class="nav-item dropdown">

        <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">branding_watermark</i>
          <p>Brand Management</p>
        </a>

        <div class="dropdown-menu dropdown-menu-right">

          <a class="dropdown-item" href="/admin/product-brands">
            <span class="material-icons">stars</span>
            <p style="margin-left: 1em;">Product Brands</p>
          </a>

          <a class="dropdown-item" href="/admin/car-brands">
            <span class="material-icons">taxi_alert</span>
            <p style="margin-left: 1em;">Car Brands</p>
          </a>

          <a class="dropdown-item" href="/admin/car-models">
            <span class="material-icons">directions_car</span>
            <p style="margin-left: 1em;">Car Models</p>
          </a>

        </div>

      </li>

      <li class="nav-item dropdown">

        <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">inventory_2</i>
          <p>Product Management</p>
        </a>

        <div class="dropdown-menu dropdown-menu-right">

          <a class="dropdown-item" href="/admin/add-product">
            <span class="material-icons">add_circle</span>
            <p style="margin-left: 1em;">Add Product</p>
          </a>

          <a class="dropdown-item" href="/admin/view-products">
            <span class="material-icons">visibility</span>
            <p style="margin-left: 1em;">View Products</p>
          </a>

        </div>

      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/admin/orders">
          <i class="material-icons">list_alt</i>
          <p>Order Management</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="">
          <i class="material-icons">leaderboard</i>
          <p>Sales report</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="">
          <i class="material-icons">local_offer</i>
          <p>Coupons</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="">
          <i class="material-icons">campaign</i>
          <p>Advertisement</p>
        </a>
      </li>

    </ul>
  </div>
</div>