<footer id="footer" class="footer footer-1">

    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel-info">
                        <div class="info-icon">
                            <i class="icon icon-Truck"></i>
                        </div>
                        <div class="info-content">
                            <h4>Free Shipping</h4>
                            <p>We provide free shipping for all the products purchased from here.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel-info">
                        <div class="info-icon">
                            <i class="icon icon-Dollars"></i>
                        </div>
                        <div class="info-content">
                            <h4>Fair Prices</h4>
                            <p>We value your money as much as ourselfs, we doesn't over charge.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel-info">
                        <div class="info-icon">
                            <i class="icon icon-Shield"></i>
                        </div>
                        <div class="info-content">
                            <h4>Secure Shopping</h4>
                            <p>All the payments done through our website are highly secured.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel-info">
                        <div class="info-icon">
                            <i class="icon icon-Headset"></i>
                        </div>
                        <div class="info-content">
                            <h4>Customer Support</h4>
                            <p>We provide 24x7 support for any issues and queries related to sales.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="footer-widget">
        <div class="container">
            <div class="row">


                <div class="col-xs-12 col-sm-6 col-md-6 footer-widget-link">
                    <div class="footer-widget-title">
                        <h5>My Account</h5>
                    </div>
                    <div class="footer-widget-content">
                        <ul class="list-unstyled">

                            <li>
                                <a href="/profile">My Account</a>
                            </li>
                            <li>
                                <a href="/all-orders">Order History</a>
                            </li>
                            <li>
                                <a href="/wishlist">Wish List</a>
                            </li>
                            <li>
                                <a href="/cart">Cart</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 footer-widget-about" id="aboutus">
                    <div class="footer-widget-title">
                        <h5>Contact Us</h5>
                    </div>
                    <div class="footer-widget-content">
                        <div class="widget-contact-info">
                                <p class="mb-0"><i class="fa fa-map-marker"></i>Kaizen Tower, Opp Malabar EyeHospital, Wayanad Rd, East Nadakkav, Kozhikode, Kerala PIN: 673006</p>
                                <p><i class="fa fa-phone"></i>+91 95440 60212 </p>
                                <p><i class="fa fa-envelope"></i>info@team.oTTomotiv</p>
                        </div>
                        <div class="footer-social">
                            <a class="share-facebook" href="https://www.facebook.com/ottomotivclt/"><i
                                    class="fa fa-facebook"></i></a>
                            <a class="share-google-plus" href="https://www.instagram.com/otto.motiv/"><i
                                    class="fa fa-instagram"></i></a>
                            <a class="share-twitter"
                                href="https://api.whatsapp.com/send?phone=919544060212&app=facebook&entry_point=page_cta&fbclid=IwAR0nF3Vx7qDm42f7XqspbGQzeRDfPg2xvanfcsYjTmgQDi24eCYVKRU7_Ro"><i
                                    class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="powered">
                        <p> &copy;2021 All Rights Reserved, Team oTTo motiv

                        </p>
                        <ul class="list-inline mb-0">
                            {{!-- <li>
                                <a href="/Privacy-policy">Privacy Policy</a>
                            </li> --}}
                            <li>
                                <a href="/termsNconditions">Terms and conditions</a>
                            </li>
                            {{!-- <li>
                                <a href="#">Stores</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li> --}}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="payment-methods text-right">
                        <ul class="list-inline mb-0">
                            <li><img src="/images/footer/visa.png" alt="payment"></li>
                            <li><img src="/images/footer/mastercard.png" alt="payment"></li>
                            <li><img src="/images/footer/american-express.png" alt="payment"></li>
                            <li><img src="/images/footer/delta.png" alt="payment"></li>
                            <li><img src="/images/footer/cirrus.png" alt="payment"></li>
                            <li><img src="/images/footer/paypal.png" alt="payment"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer>