<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">

            <p>Forgot password</p>
            <h6>Set new password</h6>

            {{#if err}}
            <p style="color: red;">{{err}}</p>
            {{/if}}

            <div class="sign-form">

                <form class="mb-0" action="/reset-password" method="POST">

                    <div class="form-group">

                        <input type="text" name="Password" class="form-control" id="Pass" placeholder="New Password">

                        <input type="text"  class="form-control" id="Re_Pass" placeholder="Re-enter new password">

                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Reset password</button>

                </form>

            </div>
        </div>
    </div>

</div>