<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">

            <p>Forgot password</p>
            <h6>Set new password</h6>

            {{#if err}}
            <p style="color: red;">{{err}}</p>
            {{/if}}

            <div class="sign-form">

                <form class="mb-0" action="/reset-password" method="POST" id="resetPass-form">

                    <div class="form-group">

                        <input type="text" name="Password" class="form-control" id="Pass" placeholder="New Password">

                        <input type="text" name="Re_Pass" class="form-control" id="Re_Pass" placeholder="Re-enter new password">

                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Reset password</button>

                </form>

            </div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>

    //input field validation

    $(document).ready(function () {
        
        $('#resetPass-form').validate({

            rules: {

                Password: {
                    required: true,
                    minlength:4
                },

                Re_Pass: {
                    required: true,
                    equalTo: "#Pass"
                }

            },

            messages: {

               
                Password: {
                    required: "This field must not be blank",
                    minlength:"Password must be atleast of 4 characters"
                },

                Re_Pass: {
                    required: "Re-enter your password",
                    equalTo:"Password mismatch" 
                }


            }

        })
        
    })

</script>

<style>
    .error {
        color: red !important;
        font-size: x-small !important;
        margin-left: 10px
    }
</style>