{{>userheader}}
<section id="page-title" class="page-title">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>TERMS AND CONDITIONS</h3>
            </div>

        </div>

    </div>

</section>

<section class="section-content bg" style="padding-top:10px;padding-bottom:0">
    <div class="container tc">
        <h4 class="text-center">KINDLY READ THE TERMS OF OFFER FOR SALE BEFORE MAKING A
            PURCHASE</h4>
        <h4>1. Business</h4>
        <p>
            a) The Website is a platform that facilitates the online sale and purchase of branded merchandise and
            services ("Services") offered by OTTOMOTIV's various affiliates/ registered merchants/ vendors/
            service providers ("Vendor/s"). The Services are offered to the Users through various modes which shall
            include but not be limited to, sale of Vouchers that can be redeemed for various products and services, sale
            of products etc. The Vendors are the sellers of products and services on the Website and will be solely
            responsible to You for the products sold or for redemption of any Voucher purchased by You through the
            Website.
        </p>
        <p>
            b) You acknowledge that OTTOMOTIV has the right to change or discontinue any Service at any time,
            without notice. You further acknowledge that OTTOMOTIV may add or modify the procedures, modes,
            processes or conditions of purchase at any time to adapt to changes that OTTOMOTIV may make to the
            Services. You agree that OTTOMOTIV shall not be liable to You or to any third party for any
            modification, suspension or discontinuance of any aspect of the Services.
        </p>

        <h4>2. Vouchers</h4>
        <p>
            a) In furtherance of the Services provided and the eligibility criteria stated under the Terms of Use
            located
            at the homepage www.ottomotiv.ml, You shall be eligible to purchase Vouchers of a specific monetary
            value.
        </p>
        <p>
            b) OTTOMOTIV will facilitate the provision of the best, pre-negotiated deals for a particular
            product/service at a given price for a given place. Purchase of such Vouchers will be subject to the Terms
            of Offer For Sale and such other terms, if any, as specified by the Vendor.
        </p>
        <p>
            c) Each Voucher will have the necessary redemption instructions printed on it. The Vouchers may contain an
            offer period, or expiry date mentioned on it, You shall use it accordingly. Unless otherwise stated, You
            will not be entitled to receive any credit or cash-back for the value of the Voucher You don't redeem or use
            within the stipulated time period as mentioned in the Voucher, if any. You agree that the Voucher issued is
            specific to the product or service selected such as motorcycle accessories, riding gears, luggage etc. and
            cannot be used for the purchase of any other product or service as offered by the Website and cannot be used
            for the purchase of any other product or service and cannot be combined with other special offers or
            promotions that may be made available on the Website.
        </p>
        <p>
            d) Vouchers once sold are non-refundable, whether You use it or not. Only one Voucher is allowed per
            transaction.
        </p>
        <p>
            e) You agree that neither OTTOMOTIV nor the Vendors shall be liable in the event You lose, misplace
            or destroy Your Voucher at any time.
        </p>

        <h4>3. Product</h4>
        <p>
            a) OTTOMOTIV , through the Website also makes available of variety of branded products and
            merchandise
            at an agreed price to You. Purchase of such products will be subject to the Terms of Offer For Sale and such
            other additional terms, if any, as specified by the Vendor.
        </p>
        <p>
            b) OTTOMOTIV offers SHIPPING for all the products on the Website as per the company's policy, which
            may be changed by OTTOMOTIV without any notice to You. Octroi charges, wherever applicable, is borne
            and paid by the OTTOMOTIV and not to be borne by User.
        </p>
        <p>
            c) All the Products are governed by the terms of warranties provided by the respective manufacturer/ brands.
            However, in case any product is covered under seller warranty, it shall be specifically mentioned under the
            product details.
        </p>

        <h4>4. Services</h4>

        <p>
            a) You should take all responsibility for your own actions in utilizing the services purchased by You and
            OTTOMOTIV shall not be liable for any such action.
        </p>
        <p>
            b) You represents that You are of legal age to form a binding contract with OTTOMOTIV and are not a
            person
            barred from receiving services under the laws as applicable in India.
        </p>
        <p>
            c) You confirm that OTTOMOTIV shall not be responsible for any deficiency in payment of consideration
            payable towards the services purchased from the Website.
        </p>
        <p>
            d) OTTOMOTIV does not offer any refunds against any services already purchased from the Website
            unless,
            any error has occurred during the purchase or redemption of such services which is directly attributable to
            OTTOMOTIV .
        </p>

        <h4>5. Pricing Information</h4>
        <p>
            a) OTTOMOTIV strives to provide You with the best prices possible on products and services You buy or
            avail of from the Website. However, OTTOMOTIV does not guarantee that the price will be the lowest in
            the
            city, region or geography. Prices and availability are subject to change without notice or any consequential
            liability to You.
        </p>
        <p>
            b) While OTTOMOTIV strives to provide accurate products, services and pricing information,
            typographical
            and other errors may occur. In the event that a product or service is listed at an incorrect price or with
            incorrect information due to an error in pricing or product or service information, OTTOMOTIV may, at
            its
            discretion, either contact You for instructions or cancel Your order and notify You of such cancellation.
            OTTOMOTIV will have the right to modify the price of the product or service and contact You for
            further
            instructions via e-mail address provided by You at the time of registration, or cancel the order and notify
            You
            of such cancellation. If OTTOMOTIV cancels the order after the payment has been processed, the said
            amount will be remitted to Your account from which the payment was made.
        </p>
        <h4>6. Delivery of Product</h4>
        <p>
            a) Your shipping address, pin code will be verified with the database of OTTOMOTIV before You proceed
            to pay
            for Your purchase. In case Your order is not serviceable by our delivery partners or the merchant or the
            area is
            not covered, we would request You to provide us with an alternate shipping address which we expect to have
            on
            our partner/merchant's delivery list. In case there is any dispute regarding the shipment of the product or
            services for the area not covered by OTTOMOTIV , in such cases OTTOMOTIV will not be
            responsible
            for the non-delivery of the product.
        </p>
        <p>
            b) In case You book multiple order for the Products and Services in one transaction, OTTOMOTIV would
            endeavour to ship all Products together. However, this may not always be possible due to some product
            characteristics and/or logistics' issues. If You purchase multiple Products in single transaction, then all
            the
            Products would be dispatched to a single shipping address given by You. If You wishes to ship Products to
            different addresses, then You should book the orders separately based on the delivery addresses.
        </p>
        <h4>7. Governing Law</h4>

        <p>
            a) These Terms of Offer For Sale and the relationship between You and OTTOMOTIV shall be governed in
            accordance with the laws of India without reference to conflict of laws principles.
        </p>
        <p>
            b) You agree that all claims, differences and disputes arising under or in connection with or in relation to
            the
            Terms of Offer For Sale or any transactions entered into on or through the Website or the relationship
            between
            You and OTTOMOTIV shall be subject to the exclusive jurisdiction of the courts at Thrissur and You
            hereby
            accede to and accept the jurisdiction of such courts.
        </p>


        <h4 style="margin-top:15px;margin-bottom:25px" class="text-center">ALL LINKED TERMS AND CONDITIONS ARE ASSUMED TO BE READ, UNDERSTOOD AND AGREED BY YOU.</h4>

    </div>


</section>

{{>userfooter}}
